asgiref==3.5.1
astroid==2.12.10
autopep8==1.6.0
beautifulsoup4==4.11.1
CAL==3.7
camelcase==0.2
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.5
commonmark==0.9.1
comtypes==1.1.11
crispy-bootstrap5==0.7
decouple==0.0.7
defusedxml==0.7.1
dill==0.3.5.1
distlib==0.3.6
Django==4.0.4
django-crispy-forms==1.14.0
djangorestframework==3.13.1
djangorestframework-simplejwt==5.2.0
filelock==3.8.0
Flask==2.0.3
httpie==3.2.1
idna==3.3
isort==5.10.1
itsdangerous==2.1.0
Jinja2==3.0.3
lazy-object-proxy==1.7.1
MarkupSafe==2.1.0
mccabe==0.7.0
multidict==6.0.2
mysql==0.0.3
mysql-connector-python==8.0.31
mysqlclient==2.1.1
numpy==1.22.3
opencv-python==4.5.5.64
pandas==1.4.2
Pillow==9.1.0
platformdirs==2.5.2
protobuf==3.20.1
psycopg2==2.9.4
pycodestyle==2.8.0
Pygments==2.13.0
PyJWT==2.4.0
pylint==2.15.2
pypiwin32==223
PySocks==1.7.1
python-dateutil==2.8.2
pyttsx3==2.90
pytz==2022.1
pywin32==303
PyYAML==6.0
requests==2.27.1
requests-toolbelt==0.9.1
reserve==0.3
rich==12.5.1
scipy==1.8.0
six==1.16.0
sketchpy==0.0.18
soupsieve==2.3.2.post1
SpeechRecognition==3.8.1
sqlparse==0.4.2
svg.path==5.1
svgpathtools==1.4.4
svgwrite==1.4.2
TFL==3.7
TFL-STP==3.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.4
tqdm==4.63.1
turtle==0.0.1
tzdata==2022.1
urllib3==1.26.9
virtualenv==20.16.5
Werkzeug==2.0.3
whitenoise==6.2.0
wikipedia==1.4.0
wrapt==1.14.1
